setuptools<81
numpy
scipy
pandas
soundfile
librosa
tqdm
matplotlib
pyyaml

torch
torchaudio
silero-vad
transformers
accelerate
sentencepiece
huggingface_hub

pyannote.audio[separation]==3.3.2
speechbrain
demucs
